<% include common/header.ejs %>
<div class="container-fluid main-content">
    <div class="contact-form-1">
        <div class="form-description-1">
            1. Контактні дані
        </div>
        <div class="row">
            <div class="col-lg-7">
                <form class="form-horizontal">
                    <div class="form-group name-group">
                        <div class="row">
                            <label class="col-sm-2 control-label">Ім’я</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="inputName" placeholder="Ім’я Фамілія">
                            </div>
                        </div>
                        <span class="name-help-block" style="display:none">
                                Введіть тільки власне ім’я, без цифр
                            </span>
                    </div>
                    <div class="form-group phone-group">
                        <div class="row">
                            <label class="col-sm-2 control-label">Телефон</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="inputPhone" placeholder="+380994010999">
                            </div>
                        </div>
                        <span class="phone-help-block" style="display:none">
                                Введіть номер телефону у форматі +380 або почніть з 0
                            </span>
                    </div>
                    <div class="form-group address-group">
                        <div class="row">
                            <label class="col-sm-2 control-label">Адреса</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="inputAddress"
                                       placeholder="Київ, вул. Спаська, 2">
                            </div>
                        </div>
                        <span class="address-help-block" style="display:none">
                                Оберіть адресу доставки піци
                            </span>
                    </div>
                </form>
            </div>
            <div class="col-lg-5 order-summary">
                <div class=" bs-callout bs-callout-warning">
                    <h4>Інформація про замовлення</h4>
                    <p class="order-summery-time"><b>Приблизний час доставки: </b> <span
                                class="order-summery-time-val"></span>
                    </p>
                    <p class="order-summery-adress"><b>Адреса доставки: </b><span
                                class="order-summery-adress-val"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row next-step-wrap">
            <div class="form-group">
                <div class="next-step-width">
                    <button type="button" class="btn btn-warning btn-block next-step-button" id="buy">
                        Далі
                        <i class="glyphicon glyphicon-chevron-right icon-white">
                        </i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="google-maps" class="google-maps"></div>
</div>
<div class="right-panel">
    <div class="right-panel-wrapper">
        <div class="order-info">
            Замовлення
            <span class="orders-counter">0</span>
            <span class="clear-order not-order-page">Очистити замовлення</span>
        </div>
        <div class="all-orders" id="cart">
        </div>
        <div class="order-controller bold-text">
            <div class="order-stat">
                <span>Сума замовлення</span><span><span id="total_prise">924</span> грн</span>
            </div>
            <div class="order-btn-wrapper">
                <a href="/order.html">
                    <button class="btn btn-warning not-order-page" id="order-btn">Замовити</button>
                </a>
                <a href="/">
                    <button class="btn btn-warning not-main-page">Редагувати замовлення</button>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    var map;

    function initMap() {
//Тут починаємо працювати з картою
        var mapProp = {
            center: {lat: 50.464379, lng: 30.519131},
            // center: new google.maps.LatLng(50.464379, 30.519131),
            zoom: 13
        };
        var html_element = document.getElementById("google-maps");
        map = new google.maps.Map(html_element, mapProp);
//Карта створена і показана

    }
</script>

<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBu8EfHXfhweZE-W19Uo2d_UIFrmKvOeMo&callback=initMap">
</script>


<style>
    .not-order-page {
        display: none;
    }
</style>
<% include common/footer.ejs %>
