<div class="offer-block">
    <div class="offer-tip">
        <div class="bold-text title-1">
            цього тижня на все
        </div>
        <div class="bold-text title-1">
            -20&percnt;
        </div>
        <div class="discount"></div>
    </div>
</div>


<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--Own JavaScript -->
<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>