
.filter-block {
  margin: 0 0 15px;
  user-select: none;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    .head-title {
      font-size: 30px;
      padding: 0 7px;
    }

    .head-title:first-letter {
      text-transform: uppercase;
    }

    .filters-counter {
      display: inline-block;
      font-size: 16px;
      border-radius: 50%;
      background-color: #ea862e;
      color: #FFF;
      text-align: center;
      line-height: 1em;
      padding: 4px;
    }
  }

  .filters-list {
    display: flex;
    justify-content: center;

    .filters-inline-wrapper {
      display: inline-block;

      .one-filter-item {
        display: inline-block;
        position: relative;
        padding: 10px 15px;
        color: @pageLabelColor;
        cursor: pointer;
        border-radius: 4px;
      }

      .one-filter-item:first-letter {
        text-transform: uppercase;
      }

      .one-filter-item[class*="current-filter"] {
        background-color: @pageLabelColor;
        color: white;
      }

      .one-filter-item[class="one-filter-item"]:hover {
        background-color: rgb(238, 238, 238);
      }
    }
  }
}

.pizza-card {
  min-width: 200px;
  margin: auto;

  img {
    width: 100%;
    height: 300px;
    object-fit: scale-down;
  }

  h3 {
    color: @mainColor;
    background-color: lighten(@mainColor, 45%);
  }

  height: 100%;
  padding-bottom: 15px;
  position: relative;

  .card-wrapper {
    display: flex;
    height: 100%;
    border: 1px solid @pageBorderColor;
    flex-direction: column;
  }

  .pizza-type {
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    color: #a3a0a0;
  }

  .caption {
    display: flex;
    height: 100%;
    padding: 0 5px;
    flex-direction: column;

    .ingredients {
      // text-align: center;
    }
  }

  .pizza-options {
    height: 100%;
    padding-bottom: 10px;

    .row {
      height: 100%;
      justify-content: center;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }


}

.pizza-size-icon, .pizza-weight-icon {
  position: relative;
  margin-left: 12px;
}

.pizza-weight-icon:before, .pizza-size-icon:before {
  content: " ";
  width: 12px;
  height: 12px;
  position: absolute;
  left: -2px;
  top: 50%;
  transform: translate(-100%, -50%);
  background-repeat: round;
}

.pizza-size-icon:before {
  background-image: @pizzaSizeIcon;
}

.pizza-weight-icon:before {
  background-image: @pizzaWeightIcon;
}

.pizza-prise {
  font-size: 1.8em;
  line-height: 0.8;
}

.tag-new[class*='pizza-card'], .tag-popular[class*='pizza-card'] {
  position: relative;
}

.tag-new[class*='pizza-card']:before, .tag-popular[class*='pizza-card']:before {
  position: absolute;
  top: -10px;
  right: -15px;
  padding: 0 5px;
  border-radius: 4px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  z-index: 10;
}

.tag-new[class*='pizza-card']:before {
  content: "Нова";
  background-color: #d9534f;
}

.tag-popular[class*='pizza-card']:before {
  content: "Популярна";
  background-color: #5cb85c;
}

@media (max-width: 992px) {
  .pizza-card {
    img {
      height: 250px;
    }
  }
}

@media (max-width: 564px) {
  .pizza-card {
    max-width: 300px;

    img {
      height: 300px;
    }
  }
}